aiofiles==23.1.0
aiohttp==3.8.4
aioredis==2.0.1
astroid==2.15.5
async-timeout==4.0.2
attrs==23.1.0
Babel==2.12.1
certifi==2023.7.22
chardet==5.1.0
click==8.1.3
cycler==0.11.0
fastapi==0.95.2
h11==0.14.0
hiredis==2.2.3
idna==3.4
isort==5.12.0
kiwisolver==1.4.4
lazy-object-proxy==1.9.0
loguru==0.7.0
matplotlib==3.7.1
mccabe==0.7.0
multidict==6.0.4
numpy==1.24.3
Pillow==9.5.0
pyaml==23.5.9
pydantic==1.10.8
pylint==2.17.4
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
requests==2.31.0
six==1.16.0
starlette==0.27.0
toml==0.10.2
typing-extensions==4.6.2
urllib3==2.0.2
uvicorn==0.22.0
wrapt==1.15.0
yarl==1.9.2
paho-mqtt==1.6.1
exchangelib==5.0.3
